.button-container {
    all: unset;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 6px;
    padding: .5rem 0;
    
    &.primary {
        background-color: $accent-darkred;
    }

    &.label-only {
        h4 {
            font-weight: 400;
            color: $accent-lightblue;
            transition: 120ms ease-out color;
        }
    }

    &.danger {
        width: fit-content;
        padding: 0;
        
        h4 {
            color: $accent-red;
            transition: 120ms ease-out color;
        }
    }
    
    &:hover {
        &.label-only {
            h4 {
                color: $accent-darkblue;
            }
        }

        &.danger {
            h4 {
                color: $accent-darkred
            }
        }
    }

    h4 {
        color: white;
        font-family: $font-rubik;
        font-weight: 600;
    }
}