.create-plan-container {
    @include page-content;
    display: flex;
    justify-content: center;
    gap: 1rem;

    .form-wrapper {
        flex-basis: 36rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        form {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2rem;
            
            .section {
                flex: 1;
                flex-basis: 34rem;
                overflow: auto;

                .fields-container {
                    display: flex;
                    flex-direction: column;
                    gap: 1.2rem;

                    #drop-area-wrapper {
                        #drop-area {
                            position: relative;
                            margin-top: .4rem;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            min-height: 10rem;
                            height: 100%;
                            border: 2px dashed $shade-3;
                            border-radius: 8px;
                            
                            &.dragover {
                                border: 2px dashed $accent-darkblue;

                                p:first-child {
                                    color: $accent-darkblue;
                                }
                            }

                            label {
                                cursor: pointer;
                                color: $accent-darkblue;
                            }

                            input {
                                display: none;
                            }

                            img {
                                padding: .2rem;
                                border-radius: 8px;
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                            }

                            #button-wrapper {
                                position: absolute;
                                top: 0;
                                right: 0;
                                height: 3rem;
                                padding: .6rem;

                                #delete-btn {
                                    all: unset;
                                    cursor: pointer;
                                    height: 100%;
                                    border-radius: 100rem;
                                    background-color: rgb(255, 61, 61);
                                    transition: 120ms ease-out background-color;
                    
                                    svg {
                                        padding: .5rem;
                    
                                        path {
                                            stroke: white;
                                        }
                                    }

                                    &:hover {
                                        background-color: red;
                                    }
                                }
                            }

                        }
                    }

                    .date-container {
                        position: relative;
                        display: flex;
                        flex-direction: column;

                        label {
                            margin-bottom: .4rem;
                        }

                        .drop-icon {
                            pointer-events: none;
                            opacity: 0;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            margin-right: .8rem;
                            animation: 800ms ease-in fade forwards;
                            animation-delay: 1000ms;
                        }

                        input {
                            all: unset;
                            border-radius: 6px;
                            overflow: hidden;
                            padding: .4rem .8rem;
                            background-color: $shade-5;
                        }
                    }
                }
            }

        }
    }

    h3 {
        margin-bottom: 1em;
    }

    p {
        &.error {
            color: $accent-darkred;
        }
    }
}

@keyframes fade {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}