html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-rubik;
    font-family: $font-sgrotesk;
}

*,
*::before,
*::after {
  color: $primary-dark;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 22px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $shade-2;
  border-radius: 100rem;
  border: 7px solid transparent;
  background-clip: content-box;
  
  &:hover {
    background-color: $secondary-dark-2;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-rubik;
}

h1,
h2,
h3 {
  line-height: 1em;
  margin-bottom: .4em;
}

p {
  color: $secondary-dark-1;
  font-size: .96rem;
}

a {
  color: $accent-darkblue;
  font-family: $font-rubik;
  font-weight: 600;
  font-size: .94rem;
  text-decoration: none;
}

label {
  color: $secondary-dark-1;
  font-weight: 800;
}

.App {
  background-color: white;
  padding: 1rem 2rem;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}